<h1>Your Cart:</h1>

<div class="item-container">
<%@sellerscart.items.each do |i|%>
    <div class="items">
    <p><%=i.name%> <%= " - " %> $<%=i.price%></p> 
    <h6>description: <%= i.description %></h6>
    <p><img src="<%=i.photo%>"></p>
    </div>
<%end%>
</div>

<%if @sellerscart.total_items > 0%>
<p><b>Subtotal: $<%=@sellerscart.total_items%></p></b>
<%else%>
<p><b>Your Cart is Empty! Add some items?</p></b>
<%end%>

<div class="suggestion-wrapper">
<p><b>Customers Also Purchased:</b></p>

<%@scitem.also_liked.each do |item|%>
<!-- fix this. want to recommend 3-5 items in others carts -->
<%end%>
</div>
<!-- add delete/update button for quantity -->