<h1><%= @shoppingcart.buyer.name.titleize %>'s Cart</h1>
<%if flash[:success] %>
<p><%=flash[:success] %></p>
<%end%>
<div class="cartshow">
<% @shoppingcart.uniq_item.each do |item, quantity| %>
    <img src=<%=item.photo%> alt="picture of item"> </h2>
    <div class="cartshow">
         <p id="iteminfo"><%= item.name %> - $<%= item.price %></p>  
   
          <%= form_for @shoppingcart do |f| %>
        <p id="quant"><%= hidden_field_tag 'item_id', item.id%>
        <%= select_tag :quantity, options_for_select(0..item.quantity), value: quantity, onchange: 'this.form.submit();', prompt: "#{quantity}" %></p>
        <p id="quant">(set quantity to 0 to remove)</p>
   <% end %>

<% end %>

<p id="subtotal">Subtotal $<%= @shoppingcart.subtotal %></p>
<% if @shoppingcart.items == []%>
<p> Please go to our <%= link_to 'Shop Page', items_path %> to purchase items!</p>
<% else %>
<%= button_to "Review Cart for Purchase", review_path, method: :get%>
<% end %>

</div>

