

<h1><%= @item.name %></h1>
<p><p><img src=<%=@item.photo%> alt=<%=@item.name%> width=auto height=250></p>
<p>Price: $<%= @item.price %></p>
<p>Description: <%= @item.description %></p>
<p>Quantity: <%=@item.quantity%></p>


<%if flash[:errors]%>
<%flash[:errors].each do |f| %>
<%=f%>
<%end%>
<%end%>

<%= form_tag "/items/#{@item.id}/add_to_cart" do %>
    <%= select_tag :quantity, options_for_select(0..@item.quantity), prompt: "Select quantity" %>
    <%= submit_tag("Add to cart", :id=>"button", :class=>"btn btn-secondary", :name=>"commit") %>
  <%end%>

