<h1><%= @buyer.name.titleize %>'s Profile</h1>
<div class="container">
<div class="contact">
    <h2>Your Contact Info:</h2>
<p>Phone Number: <%= @buyer.phone %></p>
<p>Zip Code: <%= @buyer.zip %></p>
<p>Email: <%= @buyer.email %></p>
<!-- <div class="form"> -->
<p id="update-form"><%= link_to "Update Info", edit_buyer_path(@logged_in_buyer.id)%></p>
<!-- </div> -->
</div>

<!-- we should clean this up -->
<div class="item-container">
 <h2><%= @buyer.name.titleize%>'s Order History:</h2>
 <%if @logged_in_buyer.purchases.empty?%>
 <img id="cart-empty" src="https://i.imgur.com/hz8UlJx.png" height=200>
 <p style="text-align: center;">You must be hungry. <%=link_to "Care to Purchase some veggies?", items_path%></p>
<%else%>
<% @buyer.uniq_item.each do |item, quantity| %>
<p style="text-align: center;">Name: <%=link_to item.name, item_path(item.id) %> <br> Price: $<%= item.price %> <br> Quantity: <%= quantity %> <br> <img src=<%=item.photo%> alt="picture of item"></p>
<% end %>
<%end%>
</div>
</div>