<!DOCTYPE html>
<html>
  <head>
    <title>FarmersMarket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
  </head>

  <body>  
  <section>
      <ul class="nav">
        <% if @logged_in_buyer %>
        <li><%= link_to 'Buyer Profile', buyer_path(@logged_in_buyer.id) %></li>
        <li><%= link_to 'Shop', items_path %></li>
        <li><a href="<%=shopping_cart_path(@logged_in_buyer.shopping_cart.id)%>"><img src="https://i.imgur.com/rK8sj9g.png" style="max-height: 35px;"></a></li>

        <li id="totalcart"><%= @shoppingcart.cart_total %></li>

          <li class='right' id='welcome-name'>Welcome back, <%= @logged_in_buyer.username.titleize %>!</li>
          <li class='right'><%= link_to 'Log-out', logout_path, method: :delete %></li>
        <% else %>
          <li class='right'><%= link_to 'Sign-up', new_buyer_path %></li>
          <li class='right active'><%= link_to 'Log-in', new_login_path %></li>
        <% end %>
      </ul>
    
    <%if !@logged_in_buyer%>
    <div class='welcome-container'>
      <!-- <img class='logo' src="https://i.imgur.com/ZFTE304.png" alt="farmers market"> -->
      <div class='center-logo-txt'>the Farmers Market</div>
      <div class='form'>
        <%= form_for :session, url: login_path do |f| %>
        <%= f.label :username %>
        <%= f.text_field :username %>
        <%= f.label :password %>
        <%= f.text_field :password %>
        <%= f.submit "Login" %>
        <% end %>
      </div>
    </div>
  </section>
  <%end%>
    <%= yield %>
<section>
  </body>
</section>
</html>
